.navbar.navbar-default.navbar-fixed-top
	container
		.navbar-form.navbar-right
			button.btn.btn-default(type="submit", ui-sref="search") Settings

.container-fluid.app-state.full-width
		weather(city="appCtrl.city")