.navbar.navbar-default.navbar-fixed-top
		.navbar-form.navbar-right
			button.btn.btn-default(type="submit", ui-sref="search") Choose another location

.container-fluid.app-state.full-width
		weather(city="appCtrl.city")