nav.navbar.navbar-default.navbar-fixed-top
	container
		.navbar-form.navbar-left
			button.btn.btn-default(type="submit", ui-sref="app-no-woeid") Back
			
		form.navbar-form.navbar-left(role="search")
				.form-group
					input.form-control(type="text", placeholder="Search location", ng-model="searchCtrl.query")
					
.container-fluid.app-state.full-width.search-state
	table.full-width.table.table-bordered
		tbody
			tr(ng-repeat="place in searchCtrl.places.contents", ng-click="searchCtrl.select(place.woeid)")
				td {{place.name}}
				td {{place.country}}